body {
    background-image: url(./Panthers.jpg);
    background-position: center;
    object-fit: contain;
}

.buttons {
    min-width: 5em;
    height: 3em;

}

.first-row {
    border: solid;
    border-color: black;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.493);



}

.card {
    min-height: 30vh;
    border-radius: 1em;
    border: solid;
}

.row {
    filter: opacity(-50);
}

p {
    font-size: 6em;
}